
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #C65C9A;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 5px 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#portfolio-row {
  padding-top: 70px;
  padding-bottom: 0px;
}

#about-row {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*
.porftolio-image {
  padding: 40px !important;
}

.porftolio-image img {
  transition: all 0.4s;
}

.porftolio-image img:hover {
  filter: blur(3px);
  transform: scale(1.08);
  -webkit-box-shadow: 2px 2px 76px 7px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 76px 7px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 76px 7px rgba(0,0,0,0.33);
}
*/
#links-menu ul li:hover {
  font-weight: 600;
}

#social-menu ul li:hover {
  font-weight: 600;
}

#cv-link:hover {
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #C9C9C9, 0 0 30px #C9C9C9, 0 0 40px #C9C9C9, 0 0 55px #C9C9C9, 0 0 75px #C9C9C9;
}

#cv-link {
  transition: all 0.1s;
}

#download-button:hover {
  background-color: #CECECE !important;
  -webkit-box-shadow: 2px 2px 7px 7px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 7px 7px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 7px 7px rgba(0,0,0,0.33);
}

#infonet-text {
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
}


/* --------------------new galley--------------------- */

#blur-gallery img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}

#blur-gallery {
  margin-top: 85px;
  margin-bottom: 85px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.portfolio-listing {
  position: relative;
  transition: all 0.3s ease-in;
}

.portfolio-image {
  line-height: 0;
  overflow: hidden;
}

.portfolio-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
}

.portfolio-title {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Rowdies', cursive;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(86, 4, 125, 0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-listing:hover .portfolio-title {
  opacity: 1;
}

.portfolio-listing:hover {
  transform: scale(1.03);
  z-index: 99999999999999;
  -webkit-box-shadow: 2px 2px 76px 7px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 76px 7px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 76px 7px rgba(0,0,0,0.33);
}

.portfolio-listing:hover .portfolio-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) {
  .portfolio-title {
    opacity: 1;
  }
  .portfolio-image img {
    filter: blur(2px);
  }
}
